/* Light theme */
:root {
    --site-announcement-bar-stripe-yin: #fcedda;
    --site-announcement-bar-stripe-yang: #dae6fc;
}

/* Dark theme */
[data-theme='dark'] {
    --site-announcement-bar-stripe-yin: #5a3a1b;
    --site-announcement-bar-stripe-yang: #22304a;
}

.theme-announcement-bar {
    padding: 1.4rem 0;

    background: repeating-linear-gradient(
            125deg,
            var(--site-announcement-bar-stripe-yin),
            var(--site-announcement-bar-stripe-yin) 24px,
            var(--site-announcement-bar-stripe-yang) 24px,
            var(--site-announcement-bar-stripe-yang) 48px
    ) fixed left 0;
}

.theme-announcement-bar .close {
    align-self: center;
}

.theme-announcement-bar div {
    color: var(--ifm-font-color-base);

    font-size: 1.1em;
    font-weight: 600;
}
